<section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="/design/img/team1.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>Mc Roniel De Gozo</h3>
          <p class="font-italic"> 
              System Design and NodeJS Developer
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> Bachelor of Science in Information Technology</li>
            <li><i class="icofont-check-circled"></i> Future Software Engineer </li>
            <li><i class="icofont-check-circled"></i> Freelance Developer </li>
            <li><i class="icofont-check-circled"></i> Server Side Developer </li>
            <li><i class="icofont-check-circled"></i> Managing User Interface </li>
          </ul>
          <form>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <a href="/user/me" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a>
          </form>

        </div>
      </div>

    </div>
  </section>