    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Before software can be reusable it first has to be usable.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>10 Clemente Santos Compound Dulong Bayan 2 San Mateo Rizal</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>ronieldegozo@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>09500563098</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed/v1/streetview?location=14.7006%2C121.1262&key=AIzaSyB4H1ldPjXRuRoDjuGj52NchbOkerNdiVQ" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>                              

          <div class="col-lg-6">

          <% if(errorMsg) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <p> <%= errorMsg %></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          <% } %>

            <form action="/email" method="POST" novalidate>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name"required  placeholder="Your Name" data-rule="minlen:4"/>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" required placeholder="Your Email" data-rule="email"/>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" required placeholder="Subject" />
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="phone" id="phone" required placeholder="Contact Number" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" required  placeholder="Concern"></textarea>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-success">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->