    
<script>
$('.project-percent').each(function(){
      var $this = $(this);
      var percent = $this.attr('percent');
      $this.css("width",percent+'%');
      $({animatedValue: 0}).animate({animatedValue: percent},{
            duration: 2000,
            step: function(){
            $this.attr('percent', Math.floor(this.animatedValue) + '%');
            },
            complete: function(){
            $this.attr('percent', Math.floor(this.animatedValue) + '%');
            }
      });
});
 </script>
    <!-- Vendor JS Files -->
      <script src="/design/vendor/jquery/jquery.min.js"></script>
      <script src="/design/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/design/vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="/design/vendor/php-email-form/validate.js"></script>
      <script src="/design/vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="/design/vendor/counterup/counterup.min.js"></script>
      <script src="/design/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="/design/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/design/vendor/venobox/venobox.min.js"></script>
      <script src="/design/vendor/aos/aos.js"></script>
    
      <!-- Template Main JS File -->
      <script src="/design/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.1/ckeditor.js" integrity="sha512-2nFxKVmFuBhAR45DBnAANBjtxzf7z0m6wRU7NOquxibA6efrQpUtdjFT4wzqewqTI3/cCNbBzJNUtu1NxjFiKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawesome.com/2de75dee51.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>