<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Here are some Web and Services of our Team.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/html.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="/">HTML CSS JS</a></h4>
            <p>Building a Static website using HTML CSS and  create dynamically updating content, control multimedia using JS</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/node.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="/">NODEJS</a></h4>
            <p>Creating a Server side back-end using NodeJS runtime environment</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/mysql.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="/">MySQL</a></h4>
            <p>Saving all client/server system Data in a using multithreaded MySQL Database</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/github.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="https://github.com/ronieldegozo">Github</a></h4>
            <p>Creating a GIT Repository that contain a collection of files of various different versions of a Project</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/bootstrap.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="/">Bootstrap</a></h4>
            <p>Developing a responsive and mobile-first websites using Bootstrap 4 Frameworks</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <div class="icon">
                <img src="/design/img/services/aws.png" width="120" height="120" alt="">
              </div>
            </div>
            <h4><a href="/">AWS</a></h4>
            <p>Deploying Dynamic and Static website in AWS EC2 is web service that provides secure, resizable compute capacity in the cloud. </p>
          </div>
        </div>

      </div>

    </div>
  </section>