<%- include('./includes/head') %>
<link rel="stylesheet" href="/design/css/me.css">
            <!--================Home Banner Area =================-->
            <section class="home_banner_area">
                <div class="container box_1620">
                    <div class="banner_inner d-flex align-items-center">
                     <div class="banner_content">
                         <div class="media">
                             <div class="d-flex">
                                 <img src="/design/img/profile.jpg" alt="">
                             </div>
                             <div class="media-body">
                                 <div class="personal_text">
                                     <h6>Hello Everyones! I'm </h6>
                                     <h3>Mc Roniel De Gozo</h3>
                                     <h4>Junior NodeJS Developer</h4>
                                     <p>I am a Junior NodeJS Developer with good knowledge of front-end technology using bootstrap and CSS. I love spending time on Building a web application using NodeJS Frameworks, I have a basic knowledge on PHP,MySQL,NoSql, and collaborating a code using Github. Also I like to work with a team. </p>
                                     <ul class="list basic_info">
                                         <li><a href="#"><i class="bx bx-calendar"></i> November 04, 1999</a></li>
                                         <li><a href="#"><i class="bx bx-phone"></i> 09491821577 </a></li>
                                         <li><a href="#"><i class="bx bx-envelope"></i> ronieldegozo@gmail.com</a></li>
                                         <li><a href="#"><i class="bx bx-map"></i> San Mateo Rizal </a></li>
                                     </ul>
                                     <ul class="list personal_social">
                                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                         <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>

<%- include('./includes/footer') %>